.main{
    padding-left: 1rem;
    border: solid black 1px;
    width: 75vw;
}
.middle{
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}
.bottom{
    display: flex;
    margin: 10px 0;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.toggle{
    display: flex;
    gap: 2px;
    border: solid black 1px;
    padding: 2px;
    border-radius: 15px;
}
.tog{
    background-color: rgb(177, 216, 226);
    border-radius: 10px;
    padding: 0 5px;
}

.toggle:hover{
    cursor: pointer;
}