.main{
    background-color: rgb(241, 237, 237);
    height: 80vh;
    width: fit-content;
    padding-left: 1rem;
    height: 100vh;
    
}

.box{
    display: flex;
    flex-direction: column;
    gap: 1px;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgb(251, 251, 252);
    padding: 1rem;
    border-radius: 1rem;
    /* margin: 1rem; */
}

.cards{
    display: flex;
    padding: 1rem 0;
    flex-direction: column;
    gap: 2rem;
}

img{
    border-radius: 3rem;
    border: solid black 1px;
}

span{
   font-weight: bolder;
}